@font-face{
    font-family: alegreya;
    src: url(../fonts/AlegreyaSans-Thin.ttf);
    
}
@font-face{
    font-family: alegreyaReg;
    src: url(../fonts/AlegreyaSans-Regular.ttf);
    
}
body,html{
    height: 100%;
   
}
.buscaPrincipal{
    width:315px;
    margin-left: auto;
    margin-right: auto;
}

.buscaHead{
    font-family: alegreya, sans-serif;
    letter-spacing: 2px;
    margin-left: 2px;
}
.buscaInteressesItem{
    background-color: rgba(222, 222, 222, 0.75);
    border-radius: 4px;
    color:rgb(88, 88, 88);
    font-family: alegreyaReg, sans-serif;
    font-size: 18px;
    padding: 5px 5px 5px 5px;
    
}
#em{
    width: 95px;
    margin-left: 2px;
    
}