.demo-card-wide.mdl-card {
    width: 310px;
    height: 310px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .perfil_principal{
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    top: 56px;

  }
  body,html{
    height: 100%;

  }
  .perfil-nome{
      font-size: 30px;
      width: 300px;
      
      
      letter-spacing: 2px;
      text-align: center;
      
      
  }
  .perfil-calouro-veterano{


  }
  .mdl-card__supporting-text{
    margin-top: -10px;

  }
  .perfil_chat{
      height: 20px;
      margin-right: 5px;
  }
  .perfil-section{

    width: 100%;
    height: 35px;

  }
  .perfil-texto-section{
    margin-left: 10px;
    position: relative;
    top: 7px;
    font-style: italic;
    color: white;
    
  }
  .perfil-atributo-div{
      border-bottom: 1px solid #777777;
      border-top: 1px solid #777777;
      background-color: white;
      
  }
  .perfil-atributo{
    color: #AAAAAA;
  }
  .perfil-valor-div{
    border-top: 1px solid #D4D4D4;
    background-color: #E0DFDF;
    
}